<div class="card">
  <div class="card-header">
    List of Categories
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Slug</th>
            <th>Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>
              <a [routerLink]="['/home',category._id, 'products']">
                {{ category.slug }}
              </a>
            </td>
            <td>{{ category.name }}</td>
            <td>{{ category.products.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>